<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cheer.mybatis.dao.BlogMapper">

    <select id="FindBlog" resultType="com.cheer.mybatis.model.Blog">
        select * from blog where state = #{state}
        <if test="title != null">
            and title like #{title}
        </if>
    </select>
    <select id="FindBlog2" resultType="java.util.Map">
        select * from blog b left join author a on b.id=a.id
        <if test="title != null">
            and b.title like #{title}
        </if>
    </select>
    <select id="FindBlog3" resultType="com.cheer.mybatis.model.Blog">
        select b.* from blog b left join author a on b.author_id = a.id where state = #{state}
        <choose>
            <when test="title != null">
                and title like #{title}
            </when>
            <when test="username != null">
                and username like #{username}
            </when>
            <otherwise>
                and bio = null
            </otherwise>
        </choose>
    </select>

    <update id="UpdateBlog">
        update blog
        <trim prefix="set" suffixOverrides=",">
            <if test="title != null">title = #{title}</if>
            <if test="state != null">state = #{state}</if>
            <if test="author_id != null">author_id = #{author_id}</if>
        </trim>
        where id = #{id}
    </update>
</mapper>