<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace就是接口类-->
<mapper namespace="com.cheer.mybatis.dao.EmpMapper">
    <!--    id是接口的方法名-->
    <select id="getEmp" resultType="com.cheer.mybatis.model.Emp">
        select * from emp where empNo = #{empNo}
    </select>
</mapper>